<div>
  <h1 class="main-title"> This is our Dashboard! </h1>

  <p>
    Here you can see some relevant informations about our coffee. Enjoy!
    <i class="fas fa-hand-peace"></i>
  </p>

  <app-status-indicator-bar [statusName]="'Coffee Left'"
                            [statusIndicator]="coffeeLeft"></app-status-indicator-bar>

  <div class="d-flex justify-content-between px-5 py-2 buttons">
    <button class="btn btn-danger"
            [disabled]="this.coffeeLeft <= 0"
            (click)="changeStatus(-10)">Decrease coffee status
    </button>

    <button class="btn btn-success"
            (click)="coffeeDone()">Coffee in 15 min!
    </button>

    <button class="btn btn-success"
            [disabled]="this.coffeeLeft >= 100"
            (click)="changeStatus(10)">Increase coffee status
    </button>
  </div>
</div>
