<div>
    <h2> This is our Dashboard! </h2>

    <p>
        Here you can see some relevant informations about our coffee. The app still in construction, I will add new functionalities later. Enjoy!
        <i class="fas fa-hand-peace"></i>
    </p>

    <app-status-indicator-bar [statusName]="'Coffee Left'"
                              [statusIndicator]="coffeeLeft"></app-status-indicator-bar>

    <div class="d-flex row justify-content-between px-4 py-2 buttons">
        <div class="col-md-6 col-sm-12 py-1">
            <button class="btn btn-danger w-100"
                    [disabled]="this.coffeeLeft <= 0"
                    (click)="changeStatus(-10)">Decrease coffee status
            </button>
        </div>
        <div class="col-md-6 col-sm-12 py-1">
            <button class="btn btn-success w-100"
                    [disabled]="this.coffeeLeft >= 100"
                    (click)="changeStatus(10)">Increase coffee status
            </button>
        </div>
        <div class="col-sm-12 py-1">
            <button class="btn btn-success w-100"
                    (click)="coffeeDone()">Coffee in 15 min!
            </button>
        </div>
    </div>
</div>
